body {
  background-color: #f8f9fa; /* Светлый фон */
  color: #333; /* Основной цвет текста */
}

/* Стили для Navbar */
.navbar-light {
  background-color: #007bff; /* Синий фон Navbar */
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #fff; /* Белый цвет текста и ссылок */
}

/* Стили для кнопок */
.btn-custom {
  background-color: #007bff;
  border: none;
  color: #fff;
}

.btn-custom:hover {
  background-color: #0056b3;
}

/* Стили для карточек */
.card {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}