body {
  background-color: #111; /* Тёмный фон */
  color: #ddd; /* Светлый текст */
  font-family: Arial, sans-serif; /* Пример шрифта */
}

header, footer {
  background-color: #222; /* Немного светлее для контраста */
  padding: 20px;
}

.navbar-brand, .nav-link {
  color: #f0c040; /* Золотистый акцент */
}

.card {
  background-color: #333; /* Тёмный фон для карточек */
  border: 1px solid #444; /* Обводка */
}

.button {
  background-color: #f44336; /* Красный для кнопок */
  color: white;
  border: none;
}

.button:hover {
  background-color: #c33;
}
